.window_spacer {
    position: relative;
    width: 350px;
    height: 230px;
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.window_header {
    position: absolute;
    top: 0;
    width: 100%;
    background: #232323;
    height: 30px;
}